/**
* @Author: John Isaacs <john>
* @Date:   13-Mar-172017
* @Filename: overide.css
* @Last modified by:   john
* @Last modified time: 13-Mar-172017
*/



nav{
  visibility: hidden;
}

#contact{
  visibility: hidden;
  height:0px;
}

#download{
  visibility: hidden;
  height:0px;
}

.cta{
  visibility: hidden;
  height:0px;
}

.thumbnail{
  max-height:100px;
  max-width:200px;
  border:none;
}
